<%namespace file='render.tpl' import='render_list'/>

<h2 class='sectionheading'>Programming languages known</h2>
${render_list(values(s=SUBJECT, p=URIRef('http://pafcu.fi/ns/programming/knowsProgLanguage')))}
