<%namespace file='render.tpl' import='render_list'/>

<h2 class='sectionheading'>Publications</h2>
## TODO: BUG: Check that SUBJECT is the author
${render_list(values(p=RDF.type, o=SCIPUB.PeerReviewedJournalArticle))}
